.admin_direction__wrapper {
  margin-top: 40px;
  margin-bottom: 60px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input,
      textarea {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
      }

      textarea {
        height: 200px;
        resize: none;
      }
    }
  }
}

.gallery_item {
  display: flex;
  flex-direction: column;
  gap: 20px;

  button {
    background: red !important;
    padding: 5px;
    color: var(--color-white);
  }
}

.admin_direction__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > button {
    margin-top: 60px;
    padding: 10px;
    color: var(--color-white);
    background: var(--color-blue);
  }

  & > a {
    margin-top: 60px;
    color: var(--color-blue);
    text-decoration: underline;
  }
}

.create_direction__images {
  display: flex;
  gap: 20px;
}

.create_direction__image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  width: 300px;
  height: 300px;

  label > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer;

    width: 300px;
    height: 300px;

    border-radius: 10px;
    padding: 10px;

    border: 2px dashed var(--color-blue);

    img {
      width: 290px;
      height: 290px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.create_direction__gallery {
  margin-top: 60px;
}

.gallery_preview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;

  img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.create_direction__organizers {
  margin-top: 40px;
}

.create_direction__organizers {
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    li {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 5px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);

      div {
        width: 400px;

        p {
          &:first-child {
            font-size: 12px;
          }

          &:last-child {
            font-family: "Montserrat-md", sans-serif;
            font-weight: 500;
          }
        }
      }

      button {
        padding: 5px 20px;
        width: 150px;
        text-align: center;
        color: var(--color-white);
      }
    }
  }
}

.admin_direction__people {
  display: flex;
  justify-content: space-between;
}

.skills {
  margin-top: 50px;

  ul {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
      border-radius: 3px;

      p {
        width: 50%;
      }

      button {
        padding: 5px 20px;
        background: red;
        color: var(--color-white);
      }
    }
  }

  input {
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
  }

  & > button {
    width: 18%;
    margin-left: 10px;
    padding: 9px;
    background: var(--color-blue);
    color: var(--color-white);
    border-radius: 5px;
  }
}
