.admins_directing__wrapper {
  ul {
    margin-top: 20px;

    li {
      a {
        display: block;
        background: var(--color-white);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 10px;

        p {
          font-size: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}

.admins_directing__wrapper_2 {
  ul {
    li {
      display: block;
      background: var(--color-white);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      padding: 20px;
      border-radius: 10px;

      p {
        font-size: 14px;
        margin-top: 5px;
      }

      button {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        background: var(--color-blue);
        color: var(--color-white);
      }
    }
  }
}

.admins_directing__wrapper_2 {
  ul {
    li {
      a {
        p {
          &:last-child {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
