@font-face {
  font-family: "Montserrat";
  src: local("../assets/fonts/Montserrat-Regular.ttf"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-md";
  src: local("../assets/fonts/Montserrat-Medium.ttf"),
    url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-bd";
  src: local("../assets/fonts/Montserrat-Bold.ttf"),
    url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
}